include _mixins.pug

block page-name
    - var pageName = 'current page'

doctype html
html(lang="fr")
    head
        meta(charset="utf-8")
        title= pageName + ' - ' + projectName
        link(rel="stylesheet", href="assets/css/styles.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="description" content="Projet (The Artist) réalisé dans le cadre du cours de design web")
        meta(name="author" content=webmasterName)
        meta(name="keywords" content=projectName + " , design web, HEPL, infographie")
        <!--[if lt IE 9]>
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
        <![endif]-->

    body
        header.wrap(role="banner")
            h1(role="heading", aria-level="1"): span= projectName
            nav(aria-labelledby="mainMenuHeading", role="navigation")
                h2.visually-hidden(id="mainMenuHeading", role="heading", aria-level="2") Menu Principal
                ul.main-nav
                    each val, index in {index:'Biographie',galerie:'Galerie',bibliographie:'Bibliographie',liens:'Liens',pratique:'Pratique'}
                        if (pageName == val)
                            li.main-nav__list-item: a.main-nav__link.main-nav__link--active(href=index + '.html', title='Aller vers la page ' + val.substr(0, 1).toLowerCase() + val.substr(1))= val
                        else
                            li.main-nav__list-item: a.main-nav__link(href=index + '.html', title='Aller vers la page ' + val.substr(0, 1).toLowerCase() + val.substr(1))= val


        main.wrap(role="main")
            h1.page-heading(role="heading", aria-level="1")= pageName
            block content


        footer.wrap.site-footer(role="contentinfo")
            ul
                li: a.site-footer__link(href="mailto:" + webmasterMail, title="Envoyer un email au webmaster depuis votre boîte mail par défaut") Contact the Webmaster
                li Designed by Eric Closquet


        script(src="assets/js/script.js")
