include _functions.pug

block page-name
    - var pageName = 'current page'

doctype html
html(lang="fr")
    head
        meta(charset="utf-8")
        title= firstLetterMaj(pageName) + ' - ' + projectName
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1")
        //html5shiv + class js-enable on html element, évite de charger le style no-js pour rien
        script(src="assets/js/modernizr-custom.js")
        link(rel="stylesheet", href="assets/css/styles.css")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="description", content="Projet (The Artist) réalisé dans le cadre du cours de design web")
        meta(name="author", content=webmasterName)
        meta(name="keywords", content=projectName + " , design web, HEPL, infographie")
        link(rel="shortcut icon", href="favicon.ico")

    body
        header.wrap(role="banner")
            h1(role="heading", aria-level="1", class="site__heading")
                a(href="biographie", title="Accueil - Nicolas de Staël", class="site__heading_link")= projectName
            nav(aria-labelledby="mainMenuHeading", role="navigation", class="main-nav")
                h2.visually-hidden(id="mainMenuHeading", role="heading", aria-level="2") Menu Principal

                input(type="checkbox" id="burger-menu" class="burger-menu-input")
                label(class="burger-menu-label" for="burger-menu")
                    span(class="fa fa-bars burger-menu-open" aria-hidden="true")
                    span(class="fa fa-times burger-menu-close" aria-hidden="true")
                ul.main-nav__list
                    each val in ['biographie', 'galerie', 'bibliographie', 'pratique', 'liens']
                        if (pageNameClass == val)
                            li.main-nav__list__item: a.main-nav__link.main-nav__link--active(href=val, title='Aller vers la page ' + val)= firstLetterMaj(val)
                        else
                            li.main-nav__list__item: a.main-nav__link(href=val, title='Aller vers la page ' + val)= firstLetterMaj(val)





        main.wrap(role="main")
            h1.page-heading(role="heading", aria-level="1")= firstLetterMaj(pageName)
            div(class=pageNameClass)
                block content
            div(class="end-content")
                block endContent
            a(href="#", title="Vers le haut de la page", class="to-the-top-link") Remonter

        footer.site-footer(role="contentinfo")
            ul
                li: a.site-footer__link(href="mailto:" + webmasterMail, title="Envoyer un email au webmaster depuis votre boîte mail par défaut") Contact the Webmaster
                li= 'Designed by ' + webmasterName


        script(src="assets/js/script.js")
