extends _default.pug

block page-name
    - var pageName = 'bibliographie'
    - var pageNameClass = 'bibliographie'


block content
    each val, index in bibliographie
        section(aria-labelledby=index + 'Heading', class=pageNameClass + '__book')
            h2(id=index + 'Heading', aria-level="2", role="heading", class=pageNameClass + '__book__heading')= val.name
            figure(class=pageNameClass + '__book__figure')
                img(src="assets/images/" + index + '.jpg', width=val.w, height=val.h, alt="Première de couverture de l'ouvrage: " + val.name, class=pageNameClass + '__image', class=pageNameClass + '__book__image')
                figcaption(class=pageNameClass + '__image__caption')
                    ul(class=pageNameClass + '__book__info')
                        li
                            span(class=pageNameClass + '__book__info__left')!= 'Auteur&nbsp;: '
                            span= val.author
                        li
                            span(class=pageNameClass + '__book__info__left')!= 'Éditeur&nbsp;: '
                            span= val.editor
                        li
                            span(class=pageNameClass + '__book__info__left')!= 'Type&nbsp;: '
                            span= val.characteristics.type
                        li
                            span(class=pageNameClass + '__book__info__left')!= 'Nombre de pages&nbsp;: '
                            span= val.characteristics.pages
                        li
                            span(class=pageNameClass + '__book__info__left')!= 'Format&nbsp;: '
                            span= val.characteristics.format
                        li
                            span(class=pageNameClass + '__book__info__left')!= 'Reliure et couverture&nbsp;: '
                            span= val.characteristics.cover
                        if (val.info)
                            li
                                span(class=pageNameClass + '__book__info__left')!= 'Présentation&nbsp;: '
                                span= val.info
                        li
                            a(class=pageNameClass + '__book__amazon-link', href=val.amazon,  title='Acheter "' + val.name + '" sur Amazon')!= 'L&rsquo;acheter sur '
                                span(class="amazon-ico") amazon.fr

block endContent
    a(class=pageNameClass + '__cta-to-pratique cta', href='pratique',  title='Aller vers la page pratique') Sa prochaine exposition
