extends _default.pug

block page-name
    - var pageName = 'galerie'


block content
    each val, index in galerie
        div(class=pageName + '__figure-container')
            figure(class=pageName + '__figure')
                span(class=pageName + '__close-button') Fermer
                img(src="assets/images/" + index + '.jpg', width=val.w, height=val.h, alt="Image de l'œuvre: " + val.name, class=pageName + '__image')
                figcaption(class=pageName + '__image__caption')
                    ul
                        li(class="")= val.name
                        li(class="")= val.date
                        li(class="")= val.technique
                        li(class="")= val.dimension
                        li(class="")= val.place



