extends _default.pug

block page-name
    - var pageName = 'galerie'
    - var pageNameClass = 'galerie'


block content
    each val, index in galerie
        div(class=pageNameClass + '__figure-container')
            button(class=pageNameClass + '__image-link')
            div.modal
                figure(class=pageNameClass + '__figure')
                    img(src="assets/images/" + index + '.jpg', width=val.w, height=val.h, alt="Image de l'œuvre: " + val.name, class=pageNameClass + '__image')
                    button(class=pageNameClass + '__close-button') Fermer
                    figcaption(class=pageNameClass + '__image__caption')
                        ul
                            li(class="")= val.name
                            li(class="")= val.date
                            li(class="")= val.technique
                            li(class="")= val.dimension
                            li(class="")= val.place

block endContent
    a(class=pageNameClass + '__cta-to-bibliographie cta', href='bibliographie',  title='Aller vers la page bibliographie') Parcourir sa bibliographie
