extends _default.pug

block page-name
    - var pageName = 'galerie'


block content
    each val, index in galerie
        figure(class=pageName + '__figure')
            img(src="assets/images/"+index, width=val.w, height=val.h, class=pageName + '__image')
            figcaption(class=pageName + '__image__caption')
                ul
                    li(class="")= val.name
                    li(class="")= val.date
                    li(class="")= val.technique
                    li(class="")= val.dimension
                    li(class="")= val.place



