extends _default.pug

block page-name
    - var pageName = 'liens'
    - var pageNameClass = 'liens'


block content
    ul(class=pageNameClass + '__links-list')
        li(class=pageNameClass + '__links-list__item')
            a(href="https://www.fine-arts-museum.be/fr", class=pageNameClass + '__links-list__link', title="visiter le site Les Musées royaux des Beaux-Arts de Belgique", rel="external")= 'Musées royaux des Beaux-Arts de Belgique'
            span(class=pageNameClass + '__links-list__link-description') Vous êtes amateur d’art, professionnel d’art, curieux ou à la recherche de découvertes, vous trouverez toujours aux Musées royaux des Beaux-Arts de Belgique quelque chose qui vous intéressera et vous inspirera.
        li(class=pageNameClass + '__links-list__item')
            a(href="www.maulpoix.net", class=pageNameClass + '__links-list__link', title="visiter le site web Maulpoix.net", rel="external")= 'Maulpoix.net'
            span(class=pageNameClass + '__links-list__link-description') Site consacré à la poésie française moderne et contemporaine.
        li(class=pageNameClass + '__links-list__item')
            a(href="http://www.allposters.fr", class=pageNameClass + '__links-list__link', title="visiter le site web allposters.fr", rel="external")= 'Allposters.fr'
            span(class=pageNameClass + '__links-list__link-description') Allposters.fr vous propose un choix très varié de posters, reproductions artistiques, tableaux et beaucoup d’autres objets uniques pour satisfaire toutes les passions.
        li(class=pageNameClass + '__links-list__item')
            a(href="http://www.artistes-contemporain.com", class=pageNameClass + '__links-list__link', title="visiter le site web artistes-contemporain.com", rel="external")= 'Artistes-contemporain.com'
            span(class=pageNameClass + '__links-list__link-description') Ce site Web dédié à l’art contemporain est né d’une passion pour l’art et d'un désir de faire connaitre les artistes contemporains à un large public.
        li(class=pageNameClass + '__links-list__item')
            a(href="http://www.pinceau.net", class=pageNameClass + '__links-list__link', title="visiter le site web pro wanadoo", rel="external")= 'Pinceau.net'
            span(class=pageNameClass + '__links-list__link-description') Tous les pinceaux les plus couramment utilisés en peinture par les plus grands artistes ainsi que les types de médium et de support pour lesquels on les utilise.

block endContent
    a(class=pageNameClass + '__cta-to-index cta', href='index.html',  title='Aller vers la page accueil - biographie') Lire sa biographie
