extends _default.pug

block page-name
    - var pageName = 'exposition ' + projectName
    - var pageNameClass = 'pratique'


block content
    ul(class=pageNameClass + '__infos-list vevent', itemscope, itemtype="http://schema.org/VisualArtsEvent", id="hcalendar-event-title")
        span(hidden, class="summary", itemprop="name") Exposition Nicolas de Staël
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass + '__infos-list__item--address location', itemprop="location", itemscope, itemtype="http://schema.org/Place")
            span(itemprop="name"): span(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
                span(itemprop="streetAddress")= 'Palais des Beaux-Arts '
                meta(itemprop="addressLocality", content="Houtesiplou")
            span de Houtesiplou
            meta(itemprop="telephone", content="+32470676767")
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass + '__infos-list__item--date', itemprop="startDate", content="2017-11-20T10:00") Du #[span(class="dtstart visually-hidden") 2017-11-20T10:00+01:00]#[time(datetime="2017-11-20T10:00+01:00") 20 novembre 2017] au #[span(class="dtend visually-hidden") 2018-03-18T18:00:00+01:00]#[time(datetime="2018-03-18T18:00:00+01:00", itemprop="endDate", content="2018-03-18T18:00") 18 mars 2018]
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass + '__infos-list__item--schedule') Ouvert tous les jours de #[time(datetime="T10:00") 10] à #[time(datetime="T18:00") 18 heures] sauf le lundi
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass + '__infos-list__item--price')
            div(hidden, itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
                span(hidden, itemprop="itemOffered", itemscope, itemtype="http://schema.org/Service")
                    span(hidden, itemprop="category") Adult entrance
                span(hidden, itemprop="priceCurrency", content="EUR")
                span(hidden, itemprop="price", content="4")
            div(hidden, itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
                span(hidden, itemprop="itemOffered", itemscope, itemtype="http://schema.org/Service")
                    span(hidden, itemprop="category") Children entrance
                span(hidden, itemprop="priceCurrency", content="EUR")
                span(hidden, itemprop="price", content="2")

            span(class=pageNameClass + '__infos-list__sub-part')!= 'Entrée&nbsp;: '
            span(class=pageNameClass + '__infos-list__sub-part') Adultes 4 €
            span(class=pageNameClass + '__infos-list__sub-part') Enfants 2 €
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass +'__infos-list__item--phone')
            span(class=pageNameClass + '__infos-list__sub-part')!= 'Téléphone&nbsp;: '
            a(class=pageNameClass + '__infos-list__sub-part', href="tel:+32470676767", title="Nous appeler via ce numéro de téléphone") +32 (0) 470 67 67 67

    section(aria-labelledby=pageNameClass + '__catalog-form-section__title', class=pageNameClass + '__catalog-form-section')
        h2(id=pageNameClass + '__catalog-form-section__title', aria-level="2", role="heading", class=pageNameClass + '__catalog-form-section__title') Demandez votre catalogue
        form(class=pageNameClass + '__catalog-form-section__form', action="#", method="post")
            p(class=pageNameClass + '__catalog-form-section__alert', role="alert") Veuillez remplir tous les champs
            p(class=pageNameClass + '__catalog-form-section__sent') Formulaire bien envoyé
            div(class=pageNameClass + '__catalog-form-section__form__part')
                div
                    label(class=pageNameClass + '__catalog-form-section__label', for="lastname-input")!= 'Nom'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="lastname", placeholder="Snow", id="lastname-input", aria-required="true", aria-invalid="false")
                div
                    label(class=pageNameClass + '__catalog-form-section__label', for="firstname-input")!= 'Prénom'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="firstname", placeholder="Jon", id="firstname-input", aria-required="true", aria-invalid="false")
                div
                    label(class=pageNameClass + '__catalog-form-section__label', for="address-input")!= 'Adresse'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="address", placeholder="Rue Bidule 125", id="address-input", aria-required="true", aria-invalid="false")
            div(class=pageNameClass + '__catalog-form-section__form__part')
                div
                    label(class=pageNameClass + '__catalog-form-section__label', for="post-code-input")!= 'Code postal'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="post_code", placeholder="1000", id="post-code-input", aria-required="true", aria-invalid="false")
                div
                    label(class=pageNameClass + '__catalog-form-section__label', for="city-input")!= 'Ville'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="city", placeholder="Bruxelles", id="city-input", aria-required="true", aria-invalid="false")
                div
                    label(class=pageNameClass + '__catalog-form-section__label', for="country-input")!= 'Pays'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="country", placeholder="Belgique", id="country-input", aria-required="true", aria-invalid="false")
            input(class=pageNameClass + '__catalog-form-section__submit', type="submit", value="Commander")

