extends _default.pug

block page-name
    - var pageName = 'exposition ' + projectName
    - var pageNameClass = 'pratique'


block content
    ul(class=pageNameClass + '__infos-list vevent', itemscope, itemtype="http://schema.org/VisualArtsEvent", id="hcalendar-event-title")
        li(hidden, class="summary", itemprop="name", aria-hidden="true") Exposition Nicolas de Staël
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass + '__infos-list__item--address location', itemprop="location", itemscope, itemtype="http://schema.org/Place")
            span.ico.fa.fa-map-marker
            span(class=pageNameClass + '__infos-list__sub-part')!= 'Lieu&nbsp;: '
            span(itemprop="name"): span(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
                span(itemprop="streetAddress")= 'Palais des Beaux-Arts '
                span(hidden, itemprop="addressLocality", content="Houtesiplou", aria-hidden="true")
            span de Houtesiplou
            span(hidden, itemprop="telephone", content="+32470676767", aria-hidden="true")
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass + '__infos-list__item--date', itemprop="startDate", content="2017-11-20T10:00")
            span.ico.fa.fa-calendar
            span(class=pageNameClass + '__infos-list__sub-part')!= 'Dates&nbsp;: '
            span Du #[span(class="dtstart visually-hidden") 2017-11-20T10:00+01:00]#[time(datetime="2017-11-20T10:00+01:00") 20 novembre 2017] au #[span(class="dtend visually-hidden") 2018-03-18T18:00:00+01:00]#[time(datetime="2018-03-18T18:00:00+01:00", itemprop="endDate", content="2018-03-18T18:00") 18 mars 2018]
            span(hidden, class="description", aria-hidden="true") Prochaine exposition de Nicolas de Staël.
            span(hidden, class="url", aria-hidden="true") http://nicolas-de-stael.com
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass + '__infos-list__item--schedule')
            span.ico.fa.fa-clock-o
            span(class=pageNameClass + '__infos-list__sub-part')!= 'Horaire&nbsp;: '
            span Ouvert tous les jours de #[time(datetime="T10:00") 10] à #[time(datetime="T18:00") 18 heures] sauf le lundi
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass + '__infos-list__item--price')
            span.ico.fa.fa-eur
            span(class=pageNameClass + '__infos-list__sub-part')!= 'Tarifs&nbsp;: '
            span(class=pageNameClass + '__infos-list__sub-part') Adultes 4 €
            span(class=pageNameClass + '__infos-list__sub-part') Enfants 2 €
            span(hidden, itemprop="offers", itemscope, itemtype="http://schema.org/Offer", aria-hidden="true")
                span(hidden, itemprop="itemOffered", itemscope, itemtype="http://schema.org/Service", aria-hidden="true")
                span(hidden, itemprop="category") Adult entrance
                span(hidden, itemprop="priceCurrency", content="EUR", aria-hidden="true")
                span(hidden, itemprop="price", content="4", aria-hidden="true")
                span(hidden, itemprop="availability", content="In stock", aria-hidden="true")
                span(hidden, itemprop="url", content="http://nicolas-de-stael.com", aria-hidden="true")
                span(hidden, itemprop="validFrom", content="2017-11-20", aria-hidden="true")
            span(hidden, itemprop="offers", itemscope, itemtype="http://schema.org/Offer", aria-hidden="true")
                span(hidden, itemprop="itemOffered", itemscope, itemtype="http://schema.org/Service", aria-hidden="true")
                span(hidden, itemprop="category", aria-hidden="true") Children entrance
                span(hidden, itemprop="priceCurrency", content="EUR", aria-hidden="true")
                span(hidden, itemprop="price", content="2", aria-hidden="true")
                span(hidden, itemprop="availability", content="In stock", aria-hidden="true")
                span(hidden, itemprop="url", content="http://nicolas-de-stael.com", aria-hidden="true")
                span(hidden, itemprop="validFrom", content="2017-11-20", aria-hidden="true")
            span(hidden, itemprop="description", content="Prochaine exposition de Nicolas de Staël.", aria-hidden="true")
            span(hidden, itemprop="image", content="http://jeannebucherjaeger.com/wp-content/uploads/2015/09/Portrait_Nicolas-de-Stael-320x320.jpg", aria-hidden="true")
            span(hidden, itemprop="performer", content="Nicolas de Staël", aria-hidden="true")
        li(class=pageNameClass + '__infos-list__item' + ' ' + pageNameClass +'__infos-list__item--phone')
            span.ico.fa.fa-phone
            span(class=pageNameClass + '__infos-list__sub-part')!= 'Téléphone&nbsp;: '
            a(class=pageNameClass + '__infos-list__sub-part', href="tel:+32470676767", title="Nous appeler via ce numéro de téléphone") +32 (0) 470 67 67 67

    section(aria-labelledby=pageNameClass + '__catalog-form-section__title', class=pageNameClass + '__catalog-form-section')
        h2(id=pageNameClass + '__catalog-form-section__title', aria-level="2", role="heading", class=pageNameClass + '__catalog-form-section__title') Demandez votre catalogue
        a(class=pageNameClass + '__cta-to-bibliographie cta', href='bibliographie',  title='Aller vers la page bibliographie') Parcourir sa bibliographie
        form(class=pageNameClass + '__catalog-form-section__form', action="#", method="post")
            div(class=pageNameClass + '__catalog-form-section__form__part')
                div.field-container
                    label(class=pageNameClass + '__catalog-form-section__label', for="lastname-input")!= 'Nom'
                        span.required= ' *'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="lastname", placeholder="Snow", id="lastname-input", aria-required="true", aria-invalid="false")
                    span.empty-alert.input-alert(role="alert") Champs requis
                    span.bad-char-alert.input-alert(role="alert") Nom incorrect
                div.field-container
                    label(class=pageNameClass + '__catalog-form-section__label', for="firstname-input")!= 'Prénom'
                        span.required= ' *'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="firstname", placeholder="Jon", id="firstname-input", aria-required="true", aria-invalid="false")
                    span.empty-alert.input-alert(role="alert") Champs requis
                    span.bad-char-alert.input-alert(role="alert") Prénom incorrect
                div.field-container
                    label(class=pageNameClass + '__catalog-form-section__label', for="address-input")!= 'Adresse'
                        span.required= ' *'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="address", placeholder="Rue Bidule 125", id="address-input", aria-required="true", aria-invalid="false")
                    span.empty-alert.input-alert(role="alert") Champs requis
            div(class=pageNameClass + '__catalog-form-section__form__part')
                div.field-container
                    label(class=pageNameClass + '__catalog-form-section__label', for="post-code-input")!= 'Code postal'
                        span.required= ' *'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="post_code", placeholder="1000", id="post-code-input", aria-required="true", aria-invalid="false")
                    span.empty-alert.input-alert(role="alert") Champs requis
                    span.bad-char-alert.input-alert(role="alert") Code postal incorrect
                div.field-container
                    label(class=pageNameClass + '__catalog-form-section__label', for="city-input")!= 'Ville'
                        span.required= ' *'
                    select(class=pageNameClass + '__catalog-form-section__input', name="city", id="city-input", aria-required="true", aria-invalid="false")
                        each val in zipCode
                            option(value=val.city)= val.city
                div.field-container
                    label(class=pageNameClass + '__catalog-form-section__label', for="email-input")!= 'Email'
                        span.required= ' *'
                    input(class=pageNameClass + '__catalog-form-section__input', type="text", name="email", placeholder="jon.snow@exemple.com", id="email-input", aria-required="true", aria-invalid="false")
                    span.empty-alert.input-alert(role="alert") Champs requis
                    span.bad-char-alert.input-alert(role="alert") Email incorrecte
            input(class=pageNameClass + '__catalog-form-section__submit', type="submit", value="Commander")
            p.info-for-required
                span.required= '* '
                span Champs requis

block endContent

